//output:../index.html
- var p_ours1 = "Our team has one goal – to provide the very best service in the industry. Whether it’s negotiating an endorsement, handling claims, or developing innovative ways to process your reinsurance service needs, ATIS RE is committed to make your experience as convenient as possible."
- var p_ours2 = "Our clients are at the core of our success. We are very proud of the work we do. This is represented in our function, and how our clients think about us. We offer a partnership approach, delivering options built in our client’s specific needs. We are intimately involved every step of the way to ensure our clients are well protected and well served."
- var p_ours3 = "We boast strong, forthright relationships with global leading insurance companies, but are beholden to none. We invite these trusted partners to compete for your business in order to bring you the most competitive and comprehensive insurance options."
- var ours = [{img:"img/img2.png",title:"Our Service",p:p_ours1},{img:"img/img3.png",title:"Our Clients",p:p_ours2},{img:"img/img4.png",title:"Our Markets",p:p_ours3}]
- var p_pretitle = "was founded on the solid terms of assurance, transparency, integrity and service by a team of reinsurance experts who made their names by delivering great service to the industry"
- var p1 = "Our  simple philosophy is to take every opportunity to heart, and never lose sight of the fact that lasting relationships are formed from day one. Each of our team members has earned and kept the trust in the industry by remaining true to the values we stand for, that is what makes us different. Being a full-service reinsurance intermediary brokers company, Atis re provides a valuable support, helping its clients to grow their business, implementing & managing their risk, increasing the profitability of their portfolios through the strategic efforts of their technical experts, and with the support of leading global reinsurers companies.  "
- var p2 = "Being a full-service reinsurance intermediary brokers company, Atis re provides a valuable support, helping its clients to grow their business, implementing & managing their risk, increasing the profitability of their portfolios through the strategic efforts of their technical experts, and with the support of leading global reinsurers companies. Atis re is a fully accredited and licensed Reinsurance Intermediary Broker with a team that has over 70 years of combined experience.   We have the ability to meet and exceed our customers' expectations, and our team is dedicated to provide exceptional customer service tailored to exceed your placements chain needs, all while providing complete consulting service, being innovators, accommodating to any size or complexity, those are only few of the advantage of working with us."
- var p3 = "Don’t wait any longer and experience the ATIS Advantage…"

mixin article(img,title,content)
  .column.center
    img(src=img,class="ours-img")
    h2.ours-title=title
    p.ours-content=content
        
    
include header.pug.jade
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
  body
    include nav.pug.jade
    #owl-home.owl-carousel(style="background-color: #f3f9f1;")
      include items.pug.jade
    //div(style="background-color: #f3f9f1;height:65px;")
    .container.is-fluid(style="background-color: #f3f9f1")
      .layout.pr
        .in 
          .columns.fondo
            .column
              h1.main-title ATIS Re Corp.
              p.main-pretitle.mb-25 #{p_pretitle}
              p.main-content.mb-25 #{p1}
              //p.main-content.mb-25 #{p2}
              p.main-content.mb-25 #{p3}
            .column.flex-center.flex-out
              img(src="img/img1.png")
  
  
    br
    .layout.flex-out
      .in1
        .columns.columns-v1
          each val in ours
            +article(val.img,val.title,val.p)
    br    
    include footer.pug.jade
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script(src="js/index.js")
    script(src="js/carrusel-home.js")
