//output:../index2.html
- var p1 = "Norma Menjivar, President and CEO of ATIS RE , is responsible for developing leadership within the company, directing the successful implementation of corporate objectives and maintaining the core family values of ATIS RE."
- var p2 = "Paola Valera, Chief Operating Officer is co-founders of ATIS RE, she held a leadership role in structuring the company and guiding its expansion for the years to come. Her position evolved and encompassed the development of operational and managing the initiatives and setting strategic agendas currently. She is involved in client relationships at the executive level and structuring the company’s Paola holds a Master Degree in Accounting from Nova Southern University, and her experience has been based on accounting roles in the reinsurance industry for more than 10 years."
- var p3 = "Mrs. Menjivar is an innovator, her visions in the companys role evolved and seized emerging opportunities for a reinsurance intermediary broker company that would raise the industry standard entirely. Mrs. Menjivar leads the early years of Atis RE and its entrance and acceptance as a new Broker in the industry, she is a doer and challenger. Norma Menjivar is one of the founders, she has more than twenty-five years of experience in the reinsurance industry with a strong background in risk management. She graduated from El Salvador University with a Bachelor in Business Administration oriented to Insurance."
- var p4 = "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit."
- var p5 = "Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut"
- var avatar = [{img:"img/avatar2.png",name:"Paola Valera",cargo:"CEO & CO-FOUNDER",p:[p2],className:""},{img:"img/avatar3.png",name:"Claudia Ruiz",cargo:"CEO & CO-FOUNDER",p:[p1,p3],className:"inter"},{img:"img/avatar2.png",name:"Claudia Ruiz",cargo:"CEO & CO-FOUNDER",p:[p1,p3],className:""}]

//HTML COMPILADO CON PUG
//LOS JSON SE RECOMIENDA ARMARLOS EN UN ARCHIVO APARTE Y MINIFICARLOS PARA USARLOS AQUI
//OJO NO MODIFICAR MIXINS SOLO !!VARIABLES!!

mixin ps(p)
  each val in p
    p.main-content.mb-50.justify #{val}

mixin avatar(img,title,content,p,className)
  .item.it(class="#{className}")
    .img-center
      img.img-avatar(src="#{img}")
    h1.avatar-title.ours-title #{title}
    h3.avatar-cargo #{content}
    +ps(p)
          
include header.pug.jade
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
  body
    include nav.pug.jade
    div.fondo-v2
      .in-fondo
        h2 Our Team
        p Nam porttitor blandit accumsan, Ut vel dictum sem, a pretium dui. In malesuada enim
     
    br
    .layout2
      .columns.columns-v2
        .column.is-4.avat1.center
          img.img-avatar(src="img/avatar1.png")
          h1.avatar-title.ours-title Norma Mejinvar
          h3.avatar-cargo CEO & CO-FOUNDER
          p.main-content.mb-50.justify #{p1}
          p.main-content.mb-50.justify #{p3}

          
        .column.is-8
          #owl-demo.owl-carousel
            each val in avatar
              +avatar(val.img,val.name,val.cargo,val.p,val.className)
      
    .parallax
      .in-parallax
        h1 NORMA MEJINVAR
        h2 Presidente y Fundadora de ATIS RE
        .raya-container
          .raya
        .p-container
          p #{p5}
    include footer.pug.jade

    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script(src="js/index.js")
