//output:../index2.html
- var p1 = "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam."
- var p2 = "ccumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam"
- var p3 = "molestie. Praesent aliquet quam et libero dictum"
- var p4 = "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit."
- var p5 = "Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut"
- var avatar = [{img:"img/avatar2.png",name:"Paola Valera",cargo:"CEO & CO-FOUNDER",p:[p1,p4],className:""},{img:"img/avatar3.png",name:"Claudia Ruiz",cargo:"CEO & CO-FOUNDER",p:[p1,p3],className:"inter"},{img:"img/avatar2.png",name:"Claudia Ruiz",cargo:"CEO & CO-FOUNDER",p:[p1,p3],className:""}]

//HTML COMPILADO CON PUG
//LOS JSON SE RECOMIENDA ARMARLOS EN UN ARCHIVO APARTE Y MINIFICARLOS PARA USARLOS AQUI
//OJO NO MODIFICAR MIXINS SOLO !!VARIABLES!!

mixin ps(p)
  each val in p
    p.main-content.mb-50.justify #{val}

mixin avatar(img,title,content,p,className)
  .item.it(class="#{className}")
    .img-center
      img(src="#{img}")
    h1.avatar-title.ours-title #{title}
    h3.avatar-cargo #{content}
    +ps(p)
          
include header.pug.jade
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
  body
    include nav.pug.jade
    div.fondo-v2
      .in-fondo
        h2 Our Team
        p Nam porttitor blandit accumsan, Ut vel dictum sem, a pretium dui. In malesuada enim
    
    br
    .layout2
      .columns.columns-v2
        .column.is-4.avat1
          .inline
            img(src="img/avatar1.png")
            .line
              h1.avatar-title.ours-title Norma Mejinvar
              h3.avatar-cargo CEO & CO-FOUNDER
          p.main-content.mb-50.justify #{p1}
          p.main-content.mb-50.justify #{p2}
          p.main-content.mb-50.justify #{p3}
          
        .column.is-8
          #owl-demo.owl-carousel
            each val in avatar
              +avatar(val.img,val.name,val.cargo,val.p,val.className)
      
    .parallax
      .in-parallax
        h1 NORMA MEJINVAR
        h2 Presidente y Fundadora de ATIS RE
        .raya-container
          .raya
        .p-container
          p #{p5}
    include footer.pug.jade

    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script(src="js/index.js")
