//output:../index3.html
- var pr1 = "We assured the quality of our products, service, and the efficiency and effectiveness of our policies and operations, all of them in compliance with the statutory regulations for each country where we operate. ATIS RE is regulated by the Florida Department of Revenues and has a zero-tolerance policy for misuse of company code of ethics."
- var pr2 = "Embedded in our company's culture, our personnel experience and practices have become the norm, but we have systems and policies in place to guard us from any deviation. We consider transparency our primary commitment to protect our clients, our markets, our company and our industry from any substandard work ethic."
- var pr3 = "Our initial commitment is to client and markets values and the application of ethical behavior in everything we do. At ATIS RE, we apply the highest standards and integrity in the delivery of top quality professional services at reasonable and competitive commission to the client."
- var pr4 = 'Long lasting relationships start from day one, and at ATIS RE, we strive to build trust throughout our service. As a commitment to our full scale capabilities as a Reinsurance Intermediary Brokers, our team is compromised to provide customized service to projects and placement programs that fit our client’s needs. From placing a complex account to a small participation, we are the "can do" team that delivers with speed and efficiency.'

- var pl1 = "By partnering with ATIS RE, you've put your trust in the team that combine our resources and experience with personalized attention to meet each of your needs."
- var pl2 = "We can accommodate to any size or complexity in your request."
- var pl3 = "We offer unparalleled experience in providing unique solutions to meet the dynamic changes within the reinsurance industry."
- var pl4 = 'Best of all, each solution provide is backed by first line reinsurers around the globe. Our success grows from the conviction that our clients deserve the best-possible support.'
- var pl5 = "Better financial results, increased capacity, and protection for catastrophic events, surplus relief, and access to the reinsurer's expertise."
- var pl6 = "We are always available for our clients at any time, but we also manage to have the same time zone and speak in  our native language , ensuring the information is accurate and comprehensive all of the times, Our team is proficient in English as well as in Spanish, but we work with certified translators to delivered trustful documents when required."
- var pl7 = "Our team conforms reinsurance experts who made their names by delivering great service and trust to the industry."
- var pl8 = "Our  simple philosophy is to take every opportunity to heart, and never lose sight of the fact that lasting relationships are formed from day one. Each of our team members has earned and kept the trust in the industry by remaining true to the values we stand for, that is what makes us different…"

//HTML COMPILADO CON PUG
//LOS JSON SE RECOMIENDA ARMARLOS EN UN ARCHIVO APARTE Y MINIFICARLOS PARA USARLOS AQUI
//OJO NO MODIFICAR MIXINS SOLO !!VARIABLES!!

mixin p(title,p,animation,classname)
  h4.post-title.ml-21 #{title}
  p.p-objetives.mb-25.ml-21(class="#{classname}" data-anijs="if: scroll, on: window, do: #{animation} animated, before: $scrollReveal") #{p}
  //p.p-objetives.mb-25.ml-21.hid(class="#{classname}" data-anijs="if: scroll, do: #{animation} animated,to: .as") #{p}
    
include header.pug.jade
    link(rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css")
  body
    include nav.pug.jade
    div.fondo-v3
      .in-fondo
        h2 CORPORATE PROFILE 
      
    .layout  
      .columns.columns-v2.countries(data-anijs="if: scroll, do: fadeInRight animated, to: .as")
        .column.paises
          img(src="img/ecuador.png",alt="ATIS")
          p.p-paises Ecuador
        .column.paises
          img(src="img/paraguay.png",alt="ATIS")
          p.p-paises Paraguay
        .column.paises
          img(src="img/salvador.png",alt="ATIS")
          p.p-paises El Salavador
        .column.paises
          img(src="img/honduras.png",alt="ATIS")
          p.p-paises Honduras
        .column.paises
          img(src="img/nicaragua.png",alt="ATIS")
          p.p-paises Nicaragua
    
    .layout
      .columns.columns-v2
        .column
          h2.h1 Why Choose Us
          p.main-content-v3.mb-25 #{pl1}
          h2.subtitle.mision Flexible 
          p.main-content-v3.mb-25 #{pl2}
          h2.subtitle.vision We're innovators 
          p.main-content-v3.mb-25 #{pl3}
          h2.subtitle.mision Customer service 
          p.main-content-v3.mb-25 #{pl4}
          h2.subtitle.vision Stability 
          p.main-content-v3.mb-25 #{pl5}
          h2.subtitle.mision  Time Zone and Language 
          p.main-content-v3.mb-25 #{pl6}
          h2.subtitle.vision Experience and Reputation 
          p.main-content-v3.mb-25 #{pl7}
          p.main-content-v3.mb-25 #{pl8}
          
        .column
          .objetives.pr-2em
            h3.title-objetives.mb-25.ml-21 OUR VALUES
            +p("Assurance",pr1,"fadeInRight","as")
            +p("Transparency",pr2,"fadeInRight","tra")
            +p("Integrity",pr3,"fadeInRight","int")
            +p("Service",pr4,"fadeInRight","ser")
    br
    include contactenos.pug.jade
    include footer.pug.jade
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs-min.js")
    script(src="js/index.js")
    script(src="https://anijs.github.io/lib/anijs/helpers/scrollreveal/anijs-helper-scrollreveal.js")
